#!/bin/sh
set -e
. /usr/share/debconf/confmodule
db_version 2.0

if [ -n "$2" ] && dpkg --compare-versions "$2" lt "2.0"; then
    db_input high opendnssec/migration-2.0 || true
    db_go
fi

# Warn about the extra configuration step required, but only on fresh installs.
if [ -z "$2" ]; then
    db_input high opendnssec/conf-required || true
    db_go
fi

exit 0
