[Unit]
Description=OpenDNSSEC signer daemon
Documentation=https://www.opendnssec.org/about/
Documentation=https://wiki.opendnssec.org/display/DOCS20
After=network.target ods-enforcerd.service
ConditionPathExists=!/etc/opendnssec/prevent-startup

[Service]
Type=simple
EnvironmentFile=-/etc/default/opendnssec
EnvironmentFile=-/etc/default/opendnssec-signer
ExecStart=/usr/sbin/ods-signerd -d $DAEMON_ARGS $ODS_SIGNERD_OPT

[Install]
WantedBy=multi-user.target
