[Unit]
Description=OpenDNSSEC Enforcer daemon
Documentation=https://www.opendnssec.org/about/
Documentation=https://wiki.opendnssec.org/display/DOCS20
After=network.target
ConditionPathExists=!/etc/opendnssec/prevent-startup

[Service]
Type=simple
EnvironmentFile=-/etc/default/opendnssec
EnvironmentFile=-/etc/default/opendnssec-enforcer
ExecStart=/usr/sbin/ods-enforcerd -d $DAEMON_ARGS $ODS_ENFORCERD_OPT

[Install]
WantedBy=multi-user.target
